body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px; /* Espacio entre el contenedor y la parte inferior de la pantalla */
}

input, button {
    padding: 15px;
    margin: 10px;
    width: calc(100% - 20px);
}

#resultados {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#resultados div {
    width: 50%;
    text-align: left;
}
h1 {
    font-size: 24px;
}

input, button, #resultados p {
    font-size: 20px;
    line-height: 1.2; /* Limitar cada oración a una línea */
}
